DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
DIRECT_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
Culqi_PUBLIC_KEY=""
Culqi_SECRET_KEY=""
MERCADO_PAGO_PUBLIC_KEY=""
MERCADO_PAGO_ACCESS_TOKEN=""
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""
EMAIL_FROM="Baykery <hola@baykery.pe>"
